<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs')%>
<body>
  
  <%- include('./partials/header.ejs')%>
  
  <section class='box'>
    
    <article class='registro'> 
      
      <form action='/users' method='POST' >
        
        <h3>Registrarse</h3> 
        <p><input  type='nombre'  name='nombre' id='nombre' placeholder="nombre" required class='uno'></p> 
        <br>
        <p><input  type='email'  name='email' id='email' placeholder="Ingrese email" required class='uno'></p>
        <br>
        <p><input  type='password'  name='contrase単a' id='password' placeholder="Ingrese contrase単a" required class='uno' ></p>
        <br>
        <p> <input type='submit' value='enviar'></p>
          
      </form>
    </article>

      
        <article class='registro'>  

          <form action='./succes.html' method='post'>
            
            <h3>Ingresar</h3> 
            <p><input class='uno' type='nombre'  name='nombre' id='' placeholder="usuario" required></p>
            <p><input  class='uno' type='password'  name='contrase単a' id='' placeholder="Ingrese contrase単a" required></p>
          </form>  
       </article>
         
    </section>
      
      
    </body>
    </html>
    
    