<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
<body>
  
  <%- include('./partials/header.ejs')%>
  
  <section class='box'>
    
    <article class='registro'> 
      
      <form action='/profile' method='post' enctype='multipart/form-data'>
        <h3>Registrarse</h3> 
        <p><input  type='nombre'  name='nombre' id='nombre' placeholder="usuario" required class='uno'></p>
        <br>
        
        <label>Avatar</label><input type="file" name="avatar" accept=".jpg">
               <p> <input class="habilitado" value="Ingresar" name='avatar'></p>
        
        
        <br>
        <p><input  type='email'  name='email' id='email' placeholder="Ingrese email" required class='uno'></p>
        <br>
        <p><input  type='password'  name='contraseña' id='password' placeholder="Ingrese contraseña" required class='uno' ></p>
        <br>
        <p><input  type='password'  name='contraseña' id='password' placeholder="Reingrese contraseña" required class='uno' ></p>
        <br>
      </article>
      
      
      
      <article class='registro'>     
        <form action='./succes.html' method='post'>
          
          <h3>Ingresar</h3> 
          <p><input class='uno' type='nombre'  name='nombre' id='' placeholder="usuario" required></p>
          <p><input  class='uno' type='password'  name='contraseña' id='' placeholder="Ingrese contraseña" required></p>
          
        </article>
        
      </section>
      
      
    </body>
    </html>
    
    <!DOCTYPE html>

<tr>
    <td>
        <div id="main3" style="text-align: center;">
            <h2>registro</h2><br>


            <form method="POST" action="/profile" enctype="multipart/form-data">
                <label for="username">Nombre</label><input name="username" id="username" type="text"
                style="text-align: center;">
                <br>
                <label>Apellido</label>
                <input name="apellido" size="12" type="text">
                <br>
                <label>Email</label>
                <input name="email" size="12" type="email">
                <br>
                <label>Contraseña</label>
                <input name="password" size="12" type="password">
                <br>
                <label>Repetir Contrasenia</label>
                <input name="password" size="12" type="password">
                <br>
                <label>Avatar</label><input type="file" name="avatar" accept=".jpg">
                <input class="habilitado" value="Ingresar" name
